body{margin: 0;}

a{color:firebrick;}

a:link{color: black}

a:visited{color: cornflowerblue;}

a:hover {color: fuchsia; font-size: large; text-decoration: dotted;}

a:focus{ color:olive; outline: 4px solid indigo;}

a:active{ color:rgb(159, 242, 35)}





